.userlist {
  margin: 2rem 0;
}
ul li {
  padding: 0.8rem;
  list-style: none;
  background-color: #edf0f2;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
  margin: 1rem;
  font-weight: 300;
  font-size: 1.4rem;
}
.age {
  color: #777;
  font-weight: 400;
  font-family: sans-serif;
  margin: 4px 0;
  font-size: 1.4rem;
}
@media (max-width: 420px) {
  ul li {
    font-size: 1.8rem;
  }
  .username {
    font-size: 2rem;
    font-weight: 500;
  }
}
