.btn {
  border: none;
  border-radius: 0.2rem;
  background-color: #7950f2;
  padding: 0.5rem;
  width: auto;
  font-weight: 900;
  color: #fff;
  transition: all 0.3s;
  letter-spacing: 0.02rem;
  font-size: 1rem;
  width: 30%;
}

.btn:hover {
  background-color: #6140c2;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s;
  border-radius: 0.6rem;
}

.header {
  background: #f40e1a;
  padding: 1.5rem;
}

.header h2 {
  margin: 0rem;
  color: white;
  font-weight: 500;
  font-size: 2rem;
}

.content {
  padding: 1rem 0;
  font-size: 1.6rem;
  padding: 2rem;
}

.action {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
@media (max-width: 420px) {
  .btn {
    font-size: 1.6rem;
    width: 100%;
  }
}
